.color-0E65B0 {
    color: #0E65B0;
}

.font-28 {
    font-size: 28px;
}

.reset-password {
    max-width: 360px;
    margin: 0 auto;
    margin-top: 5% !important;

    form > input {
        border-radius: 8px;
    }
}

.resend-password {
    max-width: 504px;
    margin: 0 auto;
    margin-top: 5% !important;

    .btn-resend-mail:hover {
        color: #0099FF;
    }
}

.confirm-password {
    max-width: 360px;
    margin: 0 auto;
    margin-top: 5% !important;
}

.reset-password-success {
    max-width: 532px;
    margin: 0 auto;
    margin-top: 5% !important;
}

.btn-screen-reset-password {
    border-radius: 17px;
    background-color: #0E65B0;
    color: #FFFFFF;
}

.btn-screen-reset-password:hover {
    background-color: #0099FF;
}
