.container-job {
    min-height: 90vh;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(16, 24, 40, 0.1), 0 1px 2px rgba(16, 24, 40, 0.06);
    border: 1px solid #EAECF0;
    background-color: #FFFFFF;

    .total-job {
        width: 70px;
        height: 22px;
        background: #F0F0FF;
        mix-blend-mode: multiply;
        border-radius: 16px;
    }

    button:focus {
        outline: none;
    }

    .btn-general {
        background: #EEF2F6;
        border: 1px solid #E3E8EF;
        box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 17px;
        height: 40px;
    }

    .header-job {
        padding: 30px 20px;
        border-bottom: 1px solid #EAECF0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    table {
        th {
            vertical-align: middle;
            border-bottom: unset;
            border-top: unset;
            background-color: #FCFCFD;
        }

        td {
            vertical-align: middle;
        }

        td:first-child, th:first-child {
            padding-left: 25px;
            padding-right: 25px;
        }

        tbody {
            tr:last-child {
                border-bottom: 1px solid #d8dbe0;
            }
        }

        .more-action {
            cursor: pointer;
        }

        .name-and-mail div {
            width: 150px;
        }
    }

    .pagination-wrapper {
        padding: 0 20px;

        .next-back-pagination {
            button {
                height: 36px;
                background-color: #EEF2F6;
                border-radius: 17px;
                border: 1px solid #E3E8EF;
                box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
                padding: 0 10px;
            }
        }
    }
}

.mobile-device {
    display: none;
}

@media only screen and (min-width: 769px) and (max-width: 1100px) {
    .container-job {
        .header-job {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;

            .child-second {
                margin-top: 20px;
            }
        }
    }
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
    .pc-device {
        display: none;
    }

    .mobile-device {
        display: block;
    }

    .container-job {
        box-shadow: none;
        border: unset;
        padding: 0 10px;

        table {
            th {
                border-top: 1px solid #d8dbe0;
            }

            tr {
                td:first-child, th:first-child {
                    padding: 0 0 0 5px;
                }
            }

            input[type="range"] {
                min-width: 66px;
            }
        }

        .pagination-wrapper {
            padding: unset;
            border-top: 1px solid #d8dbe0;

            button {
                width: 36px;
                height: 36px;
                background: #FFFFFF;
                border: 1px solid #D0D5DD;
                box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 8px;
            }
        }
    }
}

.btn-toggle {
    margin: 0 3.5rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #bdc1c8;
}

.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
    outline: none;
}

.btn-toggle:before,
.btn-toggle:after {
    line-height: 1.5rem;
    width: 4rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
}

.btn-toggle:before {
    content: "Close";
    left: -4rem;
}

.btn-toggle:after {
    content: "Open";
    right: -4rem;
    opacity: 0.5;
}

.btn-toggle > .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left 0.25s;
}

.btn-toggle.active {
    transition: background-color 0.25s;
}

.btn-toggle.active > .handle {
    left: 1.6875rem;
    transition: left 0.25s;
}

.btn-toggle.active:before {
    opacity: 0.5;
}

.btn-toggle.active:after {
    opacity: 1;
}

.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
    line-height: -0.5rem;
    color: #fff;
    letter-spacing: 0.75px;
    left: 0.4125rem;
    width: 2.325rem;
}

.btn-toggle.btn-sm:before {
    text-align: right;
}

.btn-toggle.btn-sm:after {
    text-align: left;
    opacity: 0;
}

.btn-toggle.btn-sm.active:before {
    opacity: 0;
}

.btn-toggle.btn-sm.active:after {
    opacity: 1;
}

.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
    display: none;
}

.btn-toggle:before,
.btn-toggle:after {
    color: #6b7381;
}

.btn-toggle.active {
    background-color: #29b5a8;
}

.btn-toggle.btn-lg {
    margin: 0 5rem;
    padding: 0;
    position: relative;
    border: none;
    height: 2.5rem;
    width: 5rem;
    border-radius: 2.5rem;
}

.btn-toggle.btn-lg:focus,
.btn-toggle.btn-lg.focus,
.btn-toggle.btn-lg:focus.active,
.btn-toggle.btn-lg.focus.active {
    outline: none;
}

.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
    line-height: 2.5rem;
    width: 5rem;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
}

.btn-toggle.btn-lg:before {
    content: "Off";
    left: -5rem;
}

.btn-toggle.btn-lg:after {
    content: "On";
    right: -5rem;
    opacity: 0.5;
}

.btn-toggle.btn-lg > .handle {
    position: absolute;
    top: 0.3125rem;
    left: 0.3125rem;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 1.875rem;
    background: #fff;
    transition: left 0.25s;
}

.btn-toggle.btn-lg.active {
    transition: background-color 0.25s;
}

.btn-toggle.btn-lg.active > .handle {
    left: 2.8125rem;
    transition: left 0.25s;
}

.btn-toggle.btn-lg.active:before {
    opacity: 0.5;
}

.btn-toggle.btn-lg.active:after {
    opacity: 1;
}

.btn-toggle.btn-lg.btn-sm:before,
.btn-toggle.btn-lg.btn-sm:after {
    line-height: 0.5rem;
    color: #fff;
    letter-spacing: 0.75px;
    left: 0.6875rem;
    width: 3.875rem;
}

.btn-toggle.btn-lg.btn-sm:before {
    text-align: right;
}

.btn-toggle.btn-lg.btn-sm:after {
    text-align: left;
    opacity: 0;
}

.btn-toggle.btn-lg.btn-sm.active:before {
    opacity: 0;
}

.btn-toggle.btn-lg.btn-sm.active:after {
    opacity: 1;
}

.btn-toggle.btn-lg.btn-xs:before,
.btn-toggle.btn-lg.btn-xs:after {
    display: none;
}

.btn-toggle.btn-sm {
    margin: 0 0.5rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
}

.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
    outline: none;
}

.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
    line-height: 1.5rem;
    width: 0.5rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.55rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
}

.btn-toggle.btn-sm:before {
    content: "Off";
    left: -0.5rem;
}

.btn-toggle.btn-sm:after {
    content: "On";
    right: -0.5rem;
    opacity: 0.5;
}

.btn-toggle.btn-sm > .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left 0.25s;
}

.btn-toggle.btn-sm.active {
    transition: background-color 0.25s;
}

.btn-toggle.btn-sm.active > .handle {
    left: 1.6875rem;
    transition: left 0.25s;
}

.btn-toggle.btn-sm.active:before {
    opacity: 0.5;
}

.btn-toggle.btn-sm.active:after {
    opacity: 1;
}

.btn-toggle.btn-sm.btn-sm:before,
.btn-toggle.btn-sm.btn-sm:after {
    line-height: -0.5rem;
    color: #fff;
    letter-spacing: 0.75px;
    left: 0.4125rem;
    width: 2.325rem;
}

.btn-toggle.btn-sm.btn-sm:before {
    text-align: right;
}

.btn-toggle.btn-sm.btn-sm:after {
    text-align: left;
    opacity: 0;
}

.btn-toggle.btn-sm.btn-sm.active:before {
    opacity: 0;
}

.btn-toggle.btn-sm.btn-sm.active:after {
    opacity: 1;
}

.btn-toggle.btn-sm.btn-xs:before,
.btn-toggle.btn-sm.btn-xs:after {
    display: none;
}

.btn-toggle.btn-xs {
    margin: 0 0;
    padding: 0;
    position: relative;
    border: none;
    height: 1rem;
    width: 2rem;
    border-radius: 1rem;
}

.btn-toggle.btn-xs:focus,
.btn-toggle.btn-xs.focus,
.btn-toggle.btn-xs:focus.active,
.btn-toggle.btn-xs.focus.active {
    outline: none;
}

.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
    line-height: 1rem;
    width: 0;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
}

.btn-toggle.btn-xs:before {
    content: "Off";
    left: 0;
}

.btn-toggle.btn-xs:after {
    content: "On";
    right: 0;
    opacity: 0.5;
}

.btn-toggle.btn-xs > .handle {
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.75rem;
    background: #fff;
    transition: left 0.25s;
}

.btn-toggle.btn-xs.active {
    transition: background-color 0.25s;
}

.btn-toggle.btn-xs.active > .handle {
    left: 1.125rem;
    transition: left 0.25s;
}

.btn-toggle.btn-xs.active:before {
    opacity: 0.5;
}

.btn-toggle.btn-xs.active:after {
    opacity: 1;
}

.btn-toggle.btn-xs.btn-sm:before,
.btn-toggle.btn-xs.btn-sm:after {
    line-height: -1rem;
    color: #fff;
    letter-spacing: 0.75px;
    left: 0.275rem;
    width: 1.55rem;
}

.btn-toggle.btn-xs.btn-sm:before {
    text-align: right;
}

.btn-toggle.btn-xs.btn-sm:after {
    text-align: left;
    opacity: 0;
}

.btn-toggle.btn-xs.btn-sm.active:before {
    opacity: 0;
}

.btn-toggle.btn-xs.btn-sm.active:after {
    opacity: 1;
}

.btn-toggle.btn-xs.btn-xs:before,
.btn-toggle.btn-xs.btn-xs:after {
    display: none;
}

.btn-toggle.btn-secondary {
    color: #6b7381;
    background: #bdc1c8;
}

.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
    color: #6b7381;
}

.btn-toggle.btn-secondary.active {
    background-color: #440fff !important;
}

.hours-select {
    max-width: 50% !important;
}

.admin-job-table {
    .scroll-table {
        overflow-x: auto;

        table {
            .employer-info {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .column-sm {
                width: 75px;
                min-width: 75px;
            }

            @media screen and (max-width: 1599.9px) {
                width: max-content !important;

                .employer-info {
                    max-width: calc(260px - 40px - 0.5rem - (0.75rem * 2));
                }

                .column-md {
                    width: 150px;
                    min-width: 150px;
                }

                .column-lg {
                    width: 260px;
                    min-width: 260px;
                }

                .column-xl {
                    width: 490px;
                    min-width: 490px;
                }
            }

            @media screen and (min-width: 1600px) {
                width: 100%;

                .employer-info {
                    max-width: calc(100vw * 11 / 100);
                }

                .column-md {
                    width: 8.97%;
                    min-width: 8.97%;
                }

                .column-lg {
                    width: 15.55%;
                    min-width: 15.55%;
                }

                .column-xl {
                    width: calc(1747px - 75px - (8.97% * 3) - (15.55% * 2));
                    min-width: calc(1747px - 75px - (8.97% * 3) - (15.55% * 2));
                }
            }
        }
    }
}
